modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 24678
externalPort = 80

[workflows]
runButton = "Run Development"

[[workflows.workflow]]
name = "Run Development"
author = 43947906
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
